/* css styles */

/* Figure caption */
.quarto-figure > figcaption,
.figure-caption,
figcaption {
  color: #555 !important;
  font-size: 0.9em;
  text-align: center !important;
  margin-top: 6px;
}

/* Center */
.cell-output-display img,
.quarto-figure img,
p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}